@use '@style/theme/index.scss' as global;
@use 'sass:string';

@forward '@style/theme/index.scss';

$kv-list-color-bg: var(string.unquote('#{global.$sd-cssvars-prefix}-color-bg-2'));
$kv-list-color-border: var(string.unquote('#{global.$sd-cssvars-prefix}-color-neutral-3'));
$kv-list-color-drag: var(string.unquote('#{global.$sd-cssvars-prefix}-color-text-3'));
$kv-list-color-ghost: var(string.unquote('#{global.$sd-cssvars-prefix}-color-primary-light-1'));
$kv-list-border-width: global.$border-1;
$kv-list-border-radius: global.$radius-medium;
$kv-list-gap: global.$spacing-4;
$kv-list-padding: global.$spacing-4;
$kv-list-transition-duration: global.$transition-duration-2;
