@use '@style/theme/index.scss' as global;
@use 'sass:string';

@forward '@style/theme/index.scss';

$sender-font-size: global.$font-size-body-3;
$sender-line-height: global.$line-height-base;
$sender-border-width: global.$border-1;
$sender-border-radius: calc(global.$radius-medium * 2);
$sender-slot-border-radius: global.$radius-medium;
$sender-control-height: global.$size-default;

$sender-padding-block: global.$spacing-6;
$sender-padding-inline: global.$spacing-6;
$sender-content-gap: global.$spacing-4;
$sender-footer-padding-top: global.$spacing-2;
$sender-slot-gap: global.$spacing-2;
$sender-skill-padding-inline: global.$spacing-4;
$sender-skill-holder-width: global.$spacing-5;

$sender-color-primary: global.$color-primary-6;
$sender-color-primary-hover: global.$color-primary-5;
$sender-color-text: global.$color-text-1;
$sender-color-text-disabled: global.$color-text-4;
$sender-color-text-placeholder: global.$color-text-4;
$sender-color-bg: var(string.unquote('#{global.$sd-cssvars-prefix}-color-bg-2'));
$sender-color-bg-disabled: global.$color-fill-2;
$sender-color-header-bg: global.$color-fill-2;
$sender-color-border: global.$color-border-2;
$sender-color-border-input: color-mix(in srgb, #{global.$color-fill-3} 10%, transparent);
$sender-color-bg-skill: color-mix(in srgb, #{global.$color-primary-6} 8%, transparent);
$sender-color-bg-skill-hover: color-mix(in srgb, #{global.$color-primary-6} 15%, transparent);
$sender-color-bg-actions-disabled: color-mix(in srgb, #{global.$color-primary-6} 45%, transparent);
$sender-switch-checked-bg: color-mix(in srgb, #{global.$color-primary-6} 8%, transparent);
$sender-switch-checked-hover-bg: color-mix(in srgb, #{global.$color-primary-6} 10%, transparent);
$sender-switch-unchecked-hover-bg: color-mix(in srgb, #{global.$color-fill-3} 4%, transparent);

$sender-box-shadow:
  0 1px 2px 0 rgb(0 0 0 / 3%),
  0 1px 6px -1px rgb(0 0 0 / 2%),
  0 2px 4px 0 rgb(0 0 0 / 2%);
$sender-motion-duration: global.$transition-duration-3;
$sender-motion-duration-fast: global.$transition-duration-2;
$sender-motion-easing: global.$transition-timing-function-standard;
